version: '3.9'

services:
    web:
        build:
            context: .
            dockerfile: ./app/Dockerfile.prod
        tty: true
        restart: always
        volumes: 
            - ./app/:/web/
        ports:
            - "80:80"