version: '3.9'

services:
    web:
        build:
            context: .
            dockerfile: ./app/Dockerfile.dev
        tty: true
        restart: always
        volumes: 
            - ./app/:/web/
        ports:
            - "80:8080"
        command:
            ["bash", "-c", "yarn install && yarn start"]

        